@import "tailwindcss";

/* Reglas vitales para un juego web en móviles */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita el scroll pull-to-refresh */
  background-color: #111;
  color: white;
  user-select: none; /* Evita que el texto se sombree de azul al tapear rápido */
  -webkit-user-select: none;
  touch-action: none; /* Desactiva gestos nativos del navegador */
}

#portrait-warning {
  display: none;
}

/* Si el teléfono está en vertical, mostramos la alerta y ocultamos el juego */
@media (orientation: portrait) {
  #portrait-warning {
    display: flex !important;
  }
  #game-ui {
    display: none !important;
  }
}